*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.flex{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.container{
    position: relative;
    width:300px;
    height:300px;
    margin:0 auto;
}
.container::before{
    position:absolute;
    content:"";
    width:50px;
    height:10px;
    left:50%;
    top:100%;
    transform:translateX(-50%);
    background: #555;
    border-radius:50%;
    animation:shadow-animate 1s infinite;
}
.container .ball, .container .balll{
    position: relative;
    margin:0 auto;
    width:50px;
    height:50px;
    top:0;
    background: #1ef5ff;
    border-radius:50%;
    box-shadow:0 0 10px #1ef5ff, 0 0 30px #1ef5ff;
    animation:ball-animate 2s infinite;
    animation-delay:0.05s;
}
.container .balll{
    animation-delay:1s;
    top:-56px;
    opacity:0.4;
}
.container .ball1,.container .ball11{
    position:relative;
    margin:0 auto;
    width:50px;
    height:50px;
    top:0;
    background: #fbf425;
    border-radius:50%;
    box-shadow:0 0 10px #fbf425, 0 0 30px #fbf425;
    animation:ball-animate 2s infinite;
    animation-delay:.05s; 
}
.container .ball11{
    animation-delay:1s;
    top:-56px;
    opacity:0.4;
}
@keyframes ball-animate{
    5%{
        width:50px;
        height:50px;
    }
    20%{
        height:60px;
    }
    30%{
        width:45px;
        height:60px;
    }
    50%{
        width:57px;
        height:35px;
        transform: translateY(275px);
    }
    75%{
        width:50px;
        height:50px;
    }
}
@keyframes shadow-animate{
    25%{
        width:50px;
        height:10px;
    }
    50%{
        width:57px;
        height:10px;
    }
    75%{
        width:50px;
        height:10px;
    }
}